@model InfoTrack.Seo.Web.Models.SearchModel



<div class="infotrack-title">

</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form", @class = "form-horizontal", id = "SearchForm" }))
{
    
    @Html.AntiForgeryToken();
    
    <label>Url</label>
    @Html.TextBoxFor(m => m.Url);
    <label>Keywords</label>
    @Html.TextBoxFor(m => m.Term);
    <br/><button type="submit" class="btn btn-default">Submit</button>

}

@if (!string.IsNullOrEmpty(Model.Term) && !string.IsNullOrEmpty(Model.Term))
{
    <div class="searchResults">
        <p>
            @if (Model.Positions.Count > 0)
            {
                <span class="positions">Google position(s): @string.Join(",", Model.Positions)</span>
            
            }else {
                <span class="positions">No results</span>
             }
        </p>
    </div>
}

